

.vbox{
   -fx-background-color: #2196f3; 
}

.hbox-b{
    
    -fx-border-style: solid hidden solid hidden;
    -fx-border-width: 0.5;
    -fx-border-color:  #f4f4f4;     
}

.right_chevron {
    -fx-background-image: url("chevron.png");
    -fx-background-color: transparent;
}

.speedometer {
    -fx-background-image: url("dashboard.png");
    -fx-background-color: transparent;
    -fx-arc-height: 16px;
    -fx-arc-width: 16px;
    -fx-background-repeat: no-repeat;
}

.setting {
    -fx-background-image: url("setting.png");
    -fx-background-color: transparent;
    -fx-arc-height: 16px;
    -fx-arc-width: 16px;
    -fx-background-repeat: no-repeat;
}
.user{
    -fx-background-image: url("user.png");
    -fx-background-color: transparent;
    -fx-arc-height: 16px;
    -fx-arc-width: 16px;
    -fx-background-repeat: no-repeat;
    
}

.box{
    -fx-background-image: url("box.png");
    -fx-background-color: transparent;
    -fx-arc-height: 16px;
    -fx-arc-width: 16px;
    -fx-background-repeat: no-repeat;
}

.dollar{
    -fx-background-image: url("dollar-symbol.png");
    -fx-background-color: transparent;
    -fx-arc-height: 16px;
    -fx-arc-width: 16px;
    -fx-background-repeat: no-repeat;
}

.truck{
    -fx-background-image: url("van-cargo.png");
    -fx-background-color: transparent;
    -fx-arc-height: 16px;
    -fx-arc-width: 16px;
    -fx-background-repeat: no-repeat;
}


